PLATFORM_HOME=/opt/laravel-deployment-platform-v2
PROJECTS_ROOT=/opt/projects
DOCKER_PLATFORM_DIR=/opt/laravel-docker-platform
INVENTORY_FILE=/opt/laravel-deployment-platform-v2/state/sites.json
PLATFORM_DEFAULT_SITE_REPO=git@github.com:tungocvan/laravel-shop.git
START_HTTP_PORT=8081
START_SOCKET_PORT=6001
