PLATFORM_HOME=/opt/laravel-deployment-platform
PROJECTS_ROOT=/opt/projects
DOCKER_PLATFORM_DIR=/opt/laravel-docker-platform
INVENTORY_FILE=/opt/laravel-deployment-platform/state/sites.json
START_HTTP_PORT=8081
START_SOCKET_PORT=6001
